<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial scale=1.0">
    <title>Mini project of Ruslan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Mini Project of Ruslan Usmonov</h1>
    <h2>Timetable</h2>
    <form method="get" action="/">
        <label for="lvl">Filter by lvl:</label>
        <select name="lvl", id="lvl">
            <option value="">All Levels</option>
            <option value="1" {% if selected_lvl == '1' %}selected{% endif %}>Level 1</option>
            <option value="2" {% if selected_lvl == '2' %}selected{% endif %}>Level 2</option>
            <option value="3" {% if selected_lvl == '3' %}selected{% endif %}>Level 3</option>
            <option value="4" {% if selected_lvl == '4' %}selected{% endif %}>Level 4</option>
        </select>
        <button type="submit">Filter</button>

    </form>
    <table>
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Instructor</th>
                <th>Schedule</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td> {{course[1] }}</td>
                <td> {{course[2] }}</td>
                <td> {{course[3] }}</td>
                <td> {{course[4] }}</td>
                <td> {{course[5] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>